/* font face */

.mceContentBody a {
  // color: inherit;
}
#postdivrich {
  // display: none;
}
h1,
h2,
h3,
h4,
h5 {
  // font-weight: normal;
}
.mceContentBody h1 {
}
.mceContentBody h2 {

}
.mceContentBody h3 {
}
.mceContentBody h4 {
}
.mceContentBody h4 strong {
}
.mceContentBody h5 {
}
.mceContentBody p {
}
.mceContentBody strong {
}
.mceContentBody blockquote {
}
.mceContentBody i {
}
.mceContentBody h3 strong {
}
.mceContentBody h1 strong {
}
