@media only screen and (min-width: 1685px) {

}

@media screen and (min-width: 1025px) and (max-width: 1152px) {
  
}

@media only screen and (max-width: 700px) {

}

@media screen and (orientation: portrait) and (min-width: 750px) and (max-width: 850px) {

}

// font adjusting 
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .skeleton-body {
        font-size: 11px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .skeleton-body {
        font-size: 12px;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1450px) {
    .skeleton-body {
        font-size: 14px;
    }
}