/*
Theme Name: CelotehKita
Description: 
Author: 
Author URI:
Version: 1.0
*/

@font-face {
  font-family: 'acaslonproregular';
  src: url('font/acaslonproregular.eot');
  src: url('font/acaslonproregular.eot?#iefix') format('embedded-opentype'), url('font/acaslonproregular.woff') format('woff'), url('font/acaslonproregular.ttf') format('truetype');
  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barokah_bold';
  src: url('font/barokah_bold-webfont.eot');
  src: url('font/barokah_bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/barokah_bold-webfont.woff') format('woff'), url('font/barokah_bold-webfont.ttf') format('truetype'), url('font/barokah_bold-webfont.svg#barokah_bold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'barokah';
  src: url('font/barokah-webfont.eot');
  src: url('font/barokah-webfont.eot?#iefix') format('embedded-opentype'), url('font/barokah-webfont.woff') format('woff'), url('font/barokah-webfont.ttf') format('truetype'), url('font/barokah-webfont.svg#barokah-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'purbacala-inline';
  src: url('font/purbacala-inline-webfont.eot');
  src: url('font/purbacala-inline-webfont.eot?#iefix') format('embedded-opentype'), url('font/purbacala-inline-webfont.woff') format('woff'), url('font/purbacala-inline-webfont.ttf') format('truetype'), url('font/purbacala-inline-webfont.svg#purbacala-inline-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'southpaw';
  src: url('font/southpaw-webfont.eot');
  src: url('font/southpaw-webfont.eot?#iefix') format('embedded-opentype'), url('font/southpaw-webfont.woff') format('woff'), url('font/southpaw-webfont.ttf') format('truetype'), url('font/southpaw-webfont.svg#southpaw-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BEBAS';
  src: url('font/BEBAS.eot');
  src: url('font/BEBAS.eot?#iefix') format('embedded-opentype'), url('font/BEBAS.woff') format('woff'), url('font/BEBAS.ttf') format('truetype'), url('font/BEBAS.svg#BEBAS') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nevis';
  src: url('font/nevis.eot');
  src: url('font/nevis.eot?#iefix') format('embedded-opentype'), url('font/nevis.woff') format('woff'), url('font/nevis.ttf') format('truetype'), url('font/nevis.svg#nevis') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamLightRegular';
  src: url('font/gotham-light-webfont.eot');
  src: url('font/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/gotham-light-webfont.woff') format('woff'), url('font/gotham-light-webfont.ttf') format('truetype'), url('font/gotham-light-webfont.svg#gotham-light-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBoldRegular';
  src: url('font/gotham-bold-webfont.eot');
  src: url('font/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/gotham-bold-webfont.woff') format('woff'), url('font/gotham-bold-webfont.ttf') format('truetype'), url('font/gotham-bold-webfont.svg#gotham-bold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* default wrapper for all content */

select,
input,
button,
textarea {
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden; 
  -webkit-backface-visibility: hidden;
}
a {
  text-decoration: none;
  border: 0px solid transparent;
}
.centerwrapper {
  margin-right: auto;
  margin-left: auto;
}
.tablewrapper {
  display: table;
  *position: relative;
  height: 100%;
}
.middlewrapper {
  display: table-cell;
  vertical-align: middle;
  *position: absolute;
  *top: 50%;
  *left: 50%;
}
.fullwidth {
  width: 100%;
}
.fullheight {
  height: 100%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.clear {
  clear: both;
}
.uppercase {
  text-transform: uppercase;
}
.hidden {
  display: none;
  visibility: hidden;
}
.overflowhide {
  overflow: hidden;
}
.hide {
  display: none;
}

/*wrapper for width in author page*/
.width1{
/*height: ;*/
width: 200px;
}
.width2{
  /*height: ;*/
  width: 150px;
}
.width3{
  /*height: ;*/
  width: 400px;
}
.width4{
  /*height: ;*/
  width: 250px;
}
.width5{
  /*height: ;*/
  width: 300px;
}
.greyscale{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
}
/* end of wrapper */

/*wordpress style*/
.editor-style{

}


/* end of wordpress style */

/*font wrapper*/
.bebas {
  font-family: "BEBAS";
}
.nevis {
  font-family: "nevis";
}
.gotham-light {
  font-family: "GothamLightRegular";
}
.gotham-bold {
  font-family: "GothamBoldRegular";
}
.barokah {
  font-family: "barokah";
}
/*end of font wrapper*/

/*color wrapper*/
.red {
  color: red;
}
/*end color wrapper*/
.googleid {
  visibility: hidden;
  opacity: 0;
}
.skeletonpageallcontainer {
  width: 100%;
  z-index: 0;
}


.menu_nav {
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 99;
  opacity: 1;
}
.menu_nav .menu-left {
  float: left;
  width: 30%;
  padding: 1% 1% 1.1% 1%;
}
.menu_nav .menu-logo {
  float: left;
  width: 10%;
}
  .menu_nav .menu-logo img{
    width: 100%;
    padding-top: 10%;
  }
.menu_nav .name-logo {
  font-size: 30px;
  width: 85%;
  text-transform: uppercase;
  margin-left: 5%;
  float: left;
}
.menu_nav .name-logo span {

}
    .menu_nav .name-logo span.first {
        color: #fff;
    }
    .menu_nav .name-logo span.second {
        color: #fe8100;
    }
.menu_nav .menu-right {
    float: right;
    width: 60%;
    text-align: right;
    padding: 1% 2% 1% 0;
}
    .menu_nav .menu-right .menu-title{
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        /*right: -100%;*/
    }
    .menu_nav .menu-right .menu-desc{
        font-size: 15px;
        color: #fe8100;
        margin-top: 0.7%;
        /*right: -100%;*/
    }

.bg-image {
  position: fixed;
  width: 100%;
}
.content-articles {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.content-articles .content {
  position: absolute;
  /*top: 100%;*/

}
.content-articles .content .left-content {
  /*position: absolute;*/
  width: 50%;
  line-height: 1.5em;
  font-size: 15px;
  /*height: 100%;*/
  margin: 5% 0% 5% 5%;
  /*margin-bottom: 5%;*/
  padding: 5% 3%;
  background-color: rgba(255, 255, 255, 0.9);
}
.gallery-content {
  margin: 5% 0 0 0;
  width: 100%;
  height: 25em;
  overflow: hidden;
  position: relative;
  
}
.gallery-content .main-image {

}
.gallery-content .controllerslider {

}
.gallery-content .controllerslider .next {
    position: absolute;
    right: 0;
    top: 42%;
    cursor: pointer;
}
.gallery-content .controllerslider .prev {
    position: absolute;
    left: 0;
    top: 42%;
    cursor: pointer;
}
.gallery-content img {
  width: 100%;
  height: auto;
}
  .content-articles .content .left-content p {
    padding-top: 2%;
    color: #000;
  }

  .content-articles .content .left-content i {
    font-family: "southpaw";
    font-weight: normal;
    color: #fe8100;
    font-size: 18px;
  }
  .content-articles .content .left-content h1 {
    font-family: "Nevis";
    color: #fe8100;
    line-height: 1.5em;
    font-size: 25px;
    text-transform: uppercase;
  }
  .content-articles .content .left-content strong {
    font-family: "barokah";
    font-weight: normal;
    color: #fe8100;
    font-size: 18px;
  }
.contributor {
  width: 50%;
  line-height: 1.5em;
  font-size: 15px;
  /*height: 100%;*/
  margin: 1% 0% 10% 5%;
  /*margin-bottom: 5%;*/
  padding: 2% 3%;
  background-color: rgba(255, 255, 255, 0.9);
}
.cont-header {
  text-transform: uppercase;
  font-size: 18px;
  color: #111111;
  margin-bottom: 3%;
}
  
  .contributor .image {
    width: 30%;
    float: left;
    padding: 1%;
  }
    .contributor .image img {
      /*width: 70%;*/
      width: 7em;
      border-radius: 5em;
      padding-top: 5%;
    }
  .contributor .decs {
    width: 65%;
    float: left;
  }
  .contributor .desc-name {
    font-size: 14px;
    margin-bottom: 2%;
  }
    .contributor .desc-name .realname {
      font-size: 15px;
      color: #fe8100;
    }
      .contributor .desc-name .realname a{
        color: #fe8100;
      }
      .contributor .desc-name .realname a:hover{
        text-decoration: underline;
      }
    .contributor .desc-name .twitter {
      color: #6ebb81;
    }
      .contributor .desc-name .twitter a{
        color: #6ebb81;
      }
      .contributor .desc-name .twitter a:hover{
        text-decoration: underline;
      }
  .contributor .desc-content {
    font-size: 14px;
    color: #000;
  }

#footercontainer {
  width: 100%;
  z-index: 3;
}

#footercontainer .footercontainer {

}

#footercontainer .left-footer {
  float: left;
  width: 25%;
  height: 200px;
  background-color: rgba(156, 120, 192, 0.8);

}
  #footercontainer .header {
    font-size: 15px;
    text-transform: uppercase;
    color: #111111;
    padding: 1em;
  }

#footercontainer .right-footer {
  float: left;
  width: 75%;
  height: 200px;
  background-color: rgba(0, 191, 260, 0.8);
}

/*author page*/
.container {
  position: absolute;
  width: 50%;
  margin: 5% 0% 5% 5%;
  padding: 5% 3%;
  color : #333;
}
.container h2 {
  background-color: rgba(255,255,255, 0.9);
  color: rgba(255,0,0,0.5);
  font-family: 'nevis';
  padding: 1%;
}
.container .top {
  background-color: rgba(255,255,255,0.9);
  padding: 2%;
  font-size: 1em;
  /*text-align: center;*/
}
.container .top .topleft {
  display: inline-block;
  width: 45%;
  text-align: center;
  vertical-align: top;
}
.container .top .topleft img {
  width: 200px;
  height: auto;
}
.container .top .topright {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: justify;
}
.container .top .topright img {
  transition: all 0.3s ease;
}
.container .top .topright ul {
  list-style: none;
  vertical-align: top;
  text-align: right;
}
.container .top .topright ul li {
  display: inline;
}
.container .top .topright ul li a {
  color: rgba(0,0,255,0.5);
}
.container .top .topright ul li a:hover {
  text-decoration: underline;
}
.container .bottom {

  margin-top: 3%;
}
.container .bottom .item{
  background-color: rgba(255,255,255,0.9);
  display: inline-block;
  /*width: 33%;*/
  padding: 2%;
  position: relative;
  margin-bottom: 0.3em;
}
.container .bottom .item .hover{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-family: 'barokah';
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
/*indramdhani : animate click */
.author.container .item:hover .hover {
    opacity: 1;
}
.container .bottom .item .hover p{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 1em;
  height: 1em;
}
.contributor-page-container {
}
.contributor-page-container .contributor-item {
  margin-top: 3%;
  max-height: 175px;
  height: 175px;
  margin-bottom: 2%
}
.contributor-page-container .contributor-item .contributor-info {
  height: 100%;
}
.contributor-page-container .contributor-item .contributor-avatar {
  vertical-align: top;
  display: inline-block;
  width: 28%;
  height: 100%;
  padding: 1%;
  background-color: rgba(255,255,255,0.9);
  position: relative;
}
.contributor-page-container .contributor-item .contributor-avatar img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.contributor-page-container .contributor-item .contributor-summary {
  float: right;
  vertical-align: top;
  display: inline-block;
  width: 65%;
  padding: 1%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
.contributor-page-container .contributor-item .contributor-summary .contributor-name {
  background-color: transparent;
  display: inline-block;
  padding: 1%;
  margin: 0;
}
.contributor-page-container .contributor-item .contributor-summary .contributor-bio {
  font-size: 0.9em;
  padding: 1%;
}
.contributor-page-container .contributor-item .contributor-summary .contributor-posts-link {
  display: inline-block;
  vertical-align: middle;
  padding: 1%;
}
/*end of author page*/

/*about page*/
.about {

}

.about .bottom {
  background-color: rgba(255,255,255,0.9);
  padding: 2%;
}

.author .bottom {
  background-color: rgba(255,255,255,0.9);
  padding: 2%;
}
/*end of about page*/

/* home page */
.container .post-container {
}
.container .post-container .post-item {
  margin: 1em;
  padding: 1em;
  font-family: 'nevis';
  background-color: rgba(255, 255, 255, 0.9);
}
.container .post-container .post-title {
   color: black;
}
.container .post-container a {
  color: black;
}
.container .post-container a:hover {
  text-decoration: underline;  
}
/* end of home page */
/*form*/
.form-container {
  width: 70%;
}
.form-container .form-item {
  padding: 0.5em;
}
.form-container .form-item label {
  width: 100px;
  display: block;
  margin-bottom: 0.2em;
  font-size: 0.9em;
  display: none;
}
.form-container .form-item label.notif {
  display: block;
  width: 100%;
  margin-top: 0.5em;
}
.form-container .form-item input[type='text'] {
  width: 250px;
  padding: 2%;
  text-transform: lowercase;
  line-height: 1.2em;
  font-size: 1em;
  color: #333; 
  border: none; 
}
.form-container .form-item input[name="address"] {
  padding: 0px!important;
  margin: 0px!important;
  height: 0px!important;
  width: 0px!important;
  border: 0px!important;
}
.form-container .form-item input[type='button'] {
  padding: 2%;
  text-transform: lowercase;
  line-height: 1.2em;
  font-size: 1em;
  border: none; 
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;  
  color: #fff; 
  width: 75px;
}
.form-container .form-item input[type='button']:hover {
  background-color: blue;
}
.form-container .form-item textarea {
  padding: 2%;  
  text-transform: lowercase;  
  line-height: 1.2em;
  font-size: 1em;
  color: #333;  
  border: none; 
 }
/*end of form*/
/* msg info for ipad */

#msgLoverlayipad {
  width: 100%;
  height: 100%;
  background-color: white;
  background-position: fixed;
  position: fixed;
  z-index: 666999;
  top: 0px;
  left: 0px;
}
#msgLoverlayipad .icon-rotate {
  width: 12.5%;
}
#msgLoverlayipad .icon-rotate img {
  width: 100%;
}
#msgInfoipad {
  font-family: "GothamLightRegular";
  width: 60%;
  position: absolute;
  top: 5%;
  color: black;
  text-align: center;
  font-size: 21px;
  line-height: 1;
  padding: 15% 20% 20% 20%;
}


@-moz-document url-prefix() {
  :-moz-placeholder {
    opacity: 1 !important;
  }
  
  ::-moz-placeholder {
    opacity: 1 !important;
  }
}


