#articles .bg-image {
  background: no-repeat center center scroll;
  background-image: url('images/bg-explore.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg-explore.jpg", sizingMethod="scale");
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg-explore.jpg", sizingMethod="scale");
}

#landingpage .bg-image {
  background: no-repeat center center scroll;
  background-image: url('images/bg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg1.jpg", sizingMethod="scale");
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/bg1.jpg", sizingMethod="scale");
}