
  .header-title {
    position: absolute;
    width: 80%;
    font-family: "Nevis";
    font-size: 50px;
    color: #5b5b5b;
    bottom: 10%;
    right: -100%;
    text-align: right;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  .header-title .top-header {
    padding: 2% 10% 2% 5%;
    background-color: rgba(0,0,0,0.8);
    width: auto;
    /*position: absolute;*/
    right: -100%;
    top: -115%;
    color: #fff;
    float: right;
    margin-bottom: 5%;
  }
  .header-title .bottom-header {
    padding: 2% 10% 2% 5%;
    background-color: rgba(0,0,0,0.8);
    width: auto;
    right: -100%;
    color: #fff;
    float: right;
  }