body {
    background-color: #f9f9f9;
}  
#articles .bg-image {
    position: relative;
}
.content-articles {
    height: auto;
}
.content-articles .content {
    top:100% !important;
}
  .header-title {
    position: absolute;
    width: 100%;
    font-family: "Nevis";
    font-size: 50px;
    color: #5b5b5b;
    bottom: 0%;
    right: 0%;
    text-align: left;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  .header-title .top-header {
    padding: 1% 10% 0% 5%;
    background-color: rgba(255,255,0,0.8);
    width: auto;
    /*position: absolute;*/
    right: -100%;
    top: -115%;
    color: #000;
    /*float: right;*/
    /*margin-bottom: 5%;*/
  }
  .header-title .bottom-header {
    padding: 1% 10% 1% 5%;
    background-color: rgba(0, 191, 260, 0.8);
    width: auto;
    right: -100%;
    color: #000;
    /*float: right;*/
  }
  .gallery-content {
    width: 100%;
    /*height: 12em;*/
    overflow: hidden;
  }
  .gallery-content img {
    width: 100%;
    height: auto;
  }
.content-articles .content .left-content, .contributor {
    border: 1px solid #f0f0f0;
}
