#landingpage {
    position: relative;
}
#landingpage .bg-image {
  /*position: relative;*/
}
.bg-image {
  position: fixed;
  width: 100%;
}
.landing-content {
   position: absolute;
    padding: 4% 2%;
    width: 50%;
    top: 27%;
    left: 20%;
    text-align: center;
    border-top: 4px solid rgb(255,255,0);
    border-bottom: 4px solid rgb(255,255,0);
}

.top-header {
    font-family: "barokah_bold";
    color: white;
    font-size: 27px;
    width: 200%;
    /*margin-left:-45%;*/
    letter-spacing: 1px;
    margin: 5% 0 5% -45%;
}

.top-header span.a {
    color: #fe8100;
}
.top-header span.b {
    color: rgba(0, 191, 260, 0.8);
}
.top-header span.c {
    color: rgba(255, 27, 27, 0.8);
}
.top-header span.d {
    color: rgba(255, 255, 0, 0.8);
}

.middle-header {
    font-family: "nevis";
    color: white;
    font-size: 40px;
    
}
.middle-header span.a {
    color: rgba(255, 0, 193, 0.8);

}
.middle-header span.b {
    color: rgba(255, 255, 0, 0.8);
}

.bottom-header {
    font-family: "bebas";
    color: white;
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: rgba(0, 0, 0,0.3);

}
.bottom-header span {
    color: #fe8100;
}

.socmed {
    width: 13%;
    float: right;
    padding: 1.5% 0;
}
.socmed .instagram {
    width: 33%;
    float: left;
    text-align: center;
}
    .socmed .instagram img {
        width: 53%;
    }
.socmed .facebook {
    width: 33%;
    float: left;
    text-align: center;
}
    .socmed .facebook img {
        width: 24%;
    }
.socmed .twitter {
    width: 33%;
    float: left;
    text-align: center; 
}
    .socmed .twitter img {
        width: 52%;
        padding-top: 6%;
    }